@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: hsl(217, 100%, 97%);
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    height: 75vh;
    width: 62%;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 13px;
    box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
}

#select{
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-size: cover;
    width: 32%;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding:40px ;
}

#select .div-1{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

#select .div-1 a{
    text-decoration: none;
    margin-right: 15px;
}

#select .div-1 a h3{
    padding: 12px;
    width: 35x;
    height: 35px;
    border: 1px solid hsla(229, 24%, 87%, 0.85);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
}

#select .div-1 a h3.active{
    background-color: hsl(228, 100%, 84%);
    color: hsl(213, 96%, 18%);
}

#select .div-1 div span{
    color:  hsla(229, 24%, 87%, 0.502);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

#select .div-1 div p{
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 500;
    letter-spacing: 1px;
}

#form{
    padding: 40px 70px;
    position: relative;
}

#form h1{
    font-size: 30px;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}

#form .first-para{
    font-size: 13px;
    font-weight: 400;
    color: hsla(213, 96%, 18%, 0.653);
    margin-bottom: 30px;
}

#form form p{
    font-size: 15px;
    font-weight: 500;
    color: hsl(213, 96%, 18%);
    margin-bottom: 7px;
}

#form form input{
    width: 100%;
    height: 38px;
    border-radius: 5px;
    border: 1px solid hsla(229, 24%, 87%, 0.461);
    margin-bottom: 20px;
    padding-left: 10px;
    outline: none;
}

#form form input:hover{
    cursor: pointer;
}

#form .confirmation{
    width: 72%;
    position: absolute;
    bottom: 0;
    text-align: right;
}

#form .confirmation button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    outline: none;
    font-weight: 700;
}

#form .confirmation button:hover{
    cursor: pointer;
    background-color: hsl(243, 100%, 62%);
    border: 1px solid hsl(243, 100%, 62%);
}





/* Plan Styling */
#plan{
    padding: 40px 70px;
    position: relative;
}

#plan h1{
    font-size: 30px;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}

#plan .first-para{
    font-size: 13px;
    font-weight: 400;
    color: hsla(213, 96%, 18%, 0.653);
    margin-bottom: 30px;
}

#plan .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

#plan .options div{
    width: 125px;
    margin-right: 10px;
    border: 1px solid hsla(229, 24%, 87%, 0.502);
    border-radius: 7px;
    height: 170px;
    padding: 20px 10px;
}

.options-active{
    background-color: hsla(213, 96%, 18%, 0.038); 
    border: 1px solid hsla(213, 96%, 18%, 0.433) !important;
}

#plan .options div .sec-div{
    border: none;
    padding: 0;
    height: 0;
}

#plan .options div:hover{
    cursor: pointer;
    border: 1px solid hsla(213, 94%, 42%, 0.303);
}

#plan .options div .sec-div:hover{
    border: none;
    padding: 0;
}


#plan .options div h1{
    margin-top: 50px;
    font-size: 14px;
    margin-bottom: 0;
}

#plan .options div span{
    font-size: 12px;
    color: hsla(228, 100%, 84%, 0.935);
    margin-bottom: 2px;
}

#plan .options div span.year{
    display: none;
}

#plan .options div p.year{
    font-size: 11px;
    font-weight: 500;
    display: none;
}

#plan .plan-time{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(228, 100%, 84%, 0.115);
    height: 40px;
    border-radius: 5px;
    font-weight: 500;
}

#plan .plan-time .light{
    color: hsla(213, 96%, 18%, 0.402);
}

.light{
    color: hsla(213, 96%, 18%, 0.402);
}

.circle-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 28px;
    padding: 2px;
    height: 15px;
    background-color: hsl(213, 96%, 18%);
    margin: 0 15px;
    border-radius: 10px;
}

.circle-container:hover{
    cursor: pointer;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
}

.circle-container .year{
    position: absolute;
    right: 3px;
}

#plan .confirmation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74%;
    position: absolute;
    bottom: 0;
}

#plan .confirmation a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: hsla(213, 96%, 18%, 0.653);
    font-weight: 700;
}

#plan .confirmation a:hover{
    color: hsl(213, 96%, 18%);
}

#plan .confirmation button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    outline: none;
    font-weight: 700;
}

#plan .confirmation button:hover{
    cursor: pointer;
    background-color: hsl(243, 100%, 62%);
    border: 1px solid hsl(243, 100%, 62%);
}









/* Form Styling */
#add-on{
    padding: 40px 70px;
    position: relative;
}

#add-on h1{
    font-size: 30px;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}

#add-on .first-para{
    font-size: 13px;
    font-weight: 400;
    color: hsla(213, 96%, 18%, 0.653);
    margin-bottom: 30px;
}

#add-on .checkbox-div{
    display: flex;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 15px;
    border: 1px solid hsla(228, 100%, 84%, 0.375);
    border-radius: 10px;
    margin-bottom: 15px;
}

#add-on .checkbox-div:hover{
    cursor: pointer;
    border: 1px solid hsla(213, 96%, 18%, 0.507);
}

#add-on .checkbox-div input{
    margin-right: 20px;
    width: 15px;
    height: 15px;
}

#add-on .checkbox-div div{
    width: 280px;
}

#add-on .checkbox-div div h2{
    font-size: 15px;
    margin-bottom: 5px;
    color: hsl(213, 96%, 18%);
}

#add-on .checkbox-div div p{
    font-size: 13px;
    color: hsla(213, 96%, 18%, 0.653);
}

#add-on .checkbox-div .price{
    font-size: 13px;
    color: hsl(243, 100%, 62%);
    font-weight: 500;
}

.sec-price{
    display: none !important; 
}

#add-on .confirmation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74%;
    position: absolute;
    bottom: 0;
}

#add-on .confirmation a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: hsla(213, 96%, 18%, 0.653);
    font-weight: 700;
}

#add-on .confirmation a:hover{
    color: hsl(213, 96%, 18%);
}

#add-on .confirmation button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: hsl(213, 96%, 18%);
    border: 1px solid hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    outline: none;
    font-weight: 700;
}

#add-on .confirmation button:hover{
    cursor: pointer;
    background-color: hsl(243, 100%, 62%);
    border: 1px solid hsl(243, 100%, 62%);
}







/* Summary Styling */
#summary{
    padding: 40px 70px;
    position: relative;
}

#summary h1{
    font-size: 30px;
    font-weight: 700;
    color: hsl(213, 96%, 18%);
    margin-bottom: 10px;
}

#summary .first-para{
    font-size: 13px;
    font-weight: 400;
    color: hsla(213, 96%, 18%, 0.653);
    margin-bottom: 30px;
}

#summary .finish-confirm .finish-confirm-divs{
    background-color: hsla(228, 100%, 84%, 0.111);
    border-radius: 10px;
    padding: 15px;
}

#summary .finish-confirm .one,
#summary .finish-confirm .two,
#summary .finish-confirm .three{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 420px;
}

#summary .finish-confirm .finish-confirm-divs .one{
    border-bottom: 1px solid hsla(228, 100%, 84%, 0.401);
    padding: 15px 0;
}

#summary .finish-confirm .finish-confirm-divs .one div h2,
#summary .finish-confirm .finish-confirm-divs .one p{
    font-size: 15px;
    color: hsl(213, 96%, 18%);
    margin-bottom: 3px;
    font-weight: 700;
}

#summary .finish-confirm .finish-confirm-divs .one div a{
    color: hsla(213, 96%, 18%, 0.442);
    font-size: 13px;
}

#summary .finish-confirm .finish-confirm-divs .one div a:hover{
    color: hsl(243, 100%, 62%);
}

#summary .finish-confirm .finish-confirm-divs .two{
    padding: 15px 0;
}

#summary .finish-confirm .finish-confirm-divs .two p,
#summary .finish-confirm .finish-confirm-divs .three p{
    font-size: 13px;
    color: hsl(213, 96%, 18%);
    font-weight: 500;
}

#summary .finish-confirm .finish-confirm-divs .two .light,
#summary .finish-confirm .finish-confirm-divs .three .light,
#summary .total .light{
    font-size: 13px;
    color: hsla(213, 96%, 18%, 0.442);
    font-weight: 500;
}

#summary .total{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 10px;
}

#summary .total p{
    font-size: 20px;
    font-weight: 700;
    color: hsl(243, 100%, 62%);
}

#summary .confirmation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 74%;
    position: absolute;
    bottom: 15px;
}

#summary .confirmation a{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 13px;
    color: hsla(213, 96%, 18%, 0.653);
    font-weight: 700;
}

#summary .confirmation a:hover{
    color: hsl(213, 96%, 18%);
}

#summary .confirmation button{
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background-color: hsl(243, 100%, 62%);
    border: 1px solid hsl(243, 100%, 62%);
    color: hsl(0, 0%, 100%);
    outline: none;
    font-weight: 700;
}

#summary .confirmation button:hover{
    cursor: pointer;
    background-color: hsla(243, 100%, 62%, 0.759);
    border: 1px solid hsla(243, 100%, 62%, 0.759);
}








/* Thank You Styling */
#thank{
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#thank img{
    width: 50px;
    margin-bottom: 20px;
}

#thank h1{
    margin-bottom: 12px;
    font-size: 23px;
    color: hsl(213, 96%, 18%);
}

#thank p{
    font-size: 13px;
    line-height: 1.5;
    color: hsla(213, 96%, 18%, 0.653);
}




@media screen and (max-width:375px) {
    .container{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        padding: 0;
        background-color: hsl(217, 100%, 97%);
        box-shadow: none;
    }

    #select {
        background-image: url(./assets/images/bg-sidebar-mobile.svg);
        background-size: cover;
        width: 100%;
        height: 170px;
        background-repeat: no-repeat;
        border-radius: 0;
        padding-left: 92px;
        display: flex;
    }

    #select .div-1 {
        margin-bottom: 70px;
    }

    #select .div-1 div{
        display: none;
    }

    #select .div-1 a h3 {
        width: 33px;
        height: 33px;
        font-size: 13px;
    }

    #form {
        background-color: hsl(0, 0%, 100%);
        padding: 30px 25px 10px;
        position: relative;
        top: -70px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }

    #form h1 {
        font-size: 24px;   
    }

    #form .first-para {
        font-size: 16px;
    }

    #form form p {
        font-size: 13px;
    }

    #form .confirmation {
        width: 100vw;
        position: absolute;
        background-color: hsl(0, 0%, 100%);
        top: 500px;
        left: -20px;
        text-align: right;
        height: 80px;
        padding: 22px 15px;
    }






    /* Plan Styling */
    #plan {
        background-color: hsl(0, 0%, 100%);
        padding: 30px 25px 10px;
        position: relative;
        top: -70px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }

    #plan h1 {
        font-size: 24px;   
    }

    #plan .first-para {
        font-size: 16px;
    }

    #plan .options {
        flex-direction: column;
        margin-bottom: 0;
    }

    #plan .options div{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid hsla(229, 24%, 87%, 0.502);
        border-radius: 7px;
        margin-bottom: 15px;
    }

    #plan .options div img{
        margin-right: 15px;
    }

    #plan .options div .sec-div{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        border: none;
        width: auto;
        padding: 0;
        text-align: left;
    }

    #plan .options div h1{
        margin-top: 10px;
    }

    #plan .plan-time {
        background-color: hsla(228, 100%, 84%, 0.115);
        height: 50px;
    }

    #plan .plan-time{
        font-size: 14px;
        font-weight: 500;
    }

    #plan .confirmation {
        background-color: hsl(0, 0%, 100%);
        width: 110%;
        height: 80px;
        position: absolute;
        bottom: -100px;
        left: -20px;
        padding: 0 15px;
    }






    /* Add ons */
    #add-on {
        background-color: hsl(0, 0%, 100%);
        padding: 30px 25px 10px;
        position: relative;
        top: -70px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }

    #add-on h1 {
        font-size: 24px;   
    }

    #add-on .first-para {
        font-size: 16px;
    }

    #add-on .checkbox-div div p {
        font-size: 11px;
    }

    #add-on .checkbox-div input {
        margin-right: 10px;
    }

    #add-on .confirmation {
        background-color: hsl(0, 0%, 100%);
        width: 110%;
        height: 80px;
        position: absolute;
        bottom: -180px;
        left: -20px;
        padding: 0 15px;
    }







    /* Summary */
    #summary {
        background-color: hsl(0, 0%, 100%);
        padding: 30px 25px 10px;
        position: relative;
        top: -70px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    }

    #summary h1 {
        font-size: 24px;   
    }

    #summary .first-para {
        font-size: 16px;
    }

    #summary .finish-confirm .one, #summary .finish-confirm .two, #summary .finish-confirm .three {
        width: 256px;
    }

    #summary .confirmation {
        background-color: hsl(0, 0%, 100%);
        width: 110%;
        height: 80px;
        position: absolute;
        bottom: -220px;
        left: -20px;
        padding: 0 15px;
    }

    #summary .total p {
        font-size: 17px;
    }





    /* Thanks styling */
    #thank {
        background-color: hsl(0, 0%, 100%);
        padding: 30px 25px 10px;
        position: relative;
        top: -70px;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
        box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
        height: 350px;
        padding: 0 30px;
    }

    #thank h1 {
        font-size: 25px;
    }

    #thank p {
        font-size: 16px;
    }
}
